#hw13 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonsContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.btn {
    padding: 8px 12px;
    border-radius: 6px;
    border: 2px solid #133df8;
    font-size: 16px;
    cursor: pointer;
    background: white;
    color: #133df8;

}
.btn:disabled {
    /* Визуальные изменения */
    opacity: 0.5;
    background: white;
    color: #cdd2ea;
    border: 2px solid #93a0d8;
    /* Поведение */
    cursor: not-allowed;
    pointer-events: none;
}

.responseContainer {
    min-height: 200px;
     display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.imageContainer {
   
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}