.loader {
    /*свг и/или анимация*/
    width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(#3498db, #9b59b6, #e74c3c, #f1c40f, #2ecc71, #3498db);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

.btn {
    padding: 5px 15px;
    background-color: #4a1fda;
    color: #fff;
}