.input:focus {
}

.input {
    border: 3px solid blue;
}

.inputWrapper {
}

.superInput {
    border: 3px solid yellow;
    background: green;
}

.errorInput {
    border: 3px solid red;
    background: red;
}

.errorInput:focus {
}

.error {
}
