.button {
}

.disabled {
    background: gray;
}

.secondary {
}

.default {
    background: inherit;
}

.red {
    background: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
